body{
    /* overflow: scroll; */
    height: auto;
    margin: 0;
    background-color:rgb(240, 240, 240);
}


.Navbar{
    position: sticky;
    box-shadow: 0px 1px 10px #999;
    border-bottom: rgb(233, 233, 233);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 3%;
    background-color:white;
    box-shadow:20px 20px gray;
}

.Navbar a:hover{
background-color: white;
color:tomato;
}

.Navbar form{
    padding-top: 10px;
    padding-right: 50px;
    margin-left: 10px;
}

.Navbar button{
    padding-top: 4px;
    color:rgb(96, 98, 102);
    background-color: transparent;
    position: absolute;
    border: none;
}
.Navbar form input{
    text-align: center;
    height: 30px;
    width: 220px;
    border: none;
    border-radius: 50PX;
    background-color: rgb(255, 255, 255);
    
}

#search-FB{
    display: flex;
}


#fbsquare{
    top: auto;
    height:40px;
    width:40px;
    padding-left:0px;
}

.buttons{
    color:grey;
    font-size: 20px;
}

.buttons a{
    padding: 12px 14px;
}

#nav{
    color: grey;
    font-size: 20px;
    text-decoration: none;
}

#nav a{
    padding: 2px 2px;
    text-decoration: none;
}





.photos{
    margin-top: 0;
    position: relative;
    /* margin-top:0%; */
    width: 100%;
    padding-left: 200px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: white;
    
}

#gradient{
    
    height:504px;
    width: 100%;
    left: 0%;
    background-image: linear-gradient(grey white black);
    position: absolute;
}


#cover-photo{
    background-color: white;
    position: relative;
    margin-top: 0;
    left:6%;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  this code made the profile photo to move out of place*/
    height: 340px;
    width:880px;
    /* border: 1px red solid; */
}

#profile-photo{
    background-color: white;
    position: absolute;
    top: 200px;
    left: 43%;
    padding:2px;
    height:160px;
    width:160px;
    border-radius: 100%;
}
#border-top{
    padding-top: 0%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(219, 219, 219);
    right: 75px;
    text-align: center;
    position: relative;

}
#Name{
    margin-bottom: 0%;
    position: relative;
    margin-top: 1%;
    font-weight: bold;
    font-style:normal;
    padding-top: 0px;
    font-size: 30px;
    color:black; 
    text-align:center;
    padding-right: 18%;
}



.left {
    margin-top: 0%;
    position: relative;
    overflow: hidden;
    background-color:transparent;
    padding-left: 18em;
}

.left a {
    float: left;
/* color: #f2f2f2; */
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(96, 98, 102);
}

.left a:hover {
    background-color: rgb(221, 222, 222);
    color: rgb(96, 98, 102);
}

.right {

    font-size: 20px;
    padding-right: 19em;
    float: right;
}


/* photo radius needs to decrease, make edges circular */



/* facebook feed content
justify center doent work. Margin and padding didnt work*/
#feed{
    padding:2em;
    padding-left:20%;
    /* height:100%; */
    /* width: auto; */
    /* overflow: scroll; */
    max-height: 200px;
    display:grid;
    grid-template-columns: 40% 40%;
    justify-items:center;
}



.half1{
    display: grid;
    max-height:25%;
    height:auto;
    width:90%;
    text-decoration: none;
}

.half1 #half1-photos{
    color: rgb(96, 98, 102);
    font-weight: bold;
    margin-top: 45px;
    height: 350px;
    width:400px;
    padding-left: 10px;
    background-color: white;
    border-radius: 10px 10px;
    left:10px;
}
.half1 img{
    /* left: 1000px; */
    align-content: center;
    height: 120px;
    width: 120px;
}
.half1 #half1-square1{
    background-color:white;
    border-radius: 10px 10px;
    border: tomato solid;
    text-align: left;
    margin: 0%;
    height: 200px;
    width:400px;
    font-size: 12px;
}

.half1 h4{
    font-size: 16px;
    color: rgb(96, 98, 102);
}
.half1 i{
    text-align: right;
    font-size: 20px;
    padding:10px;
}
.half2{
    display: grid;
    grid-row-gap: 20px;
    padding:10px;
    overflow: scroll;
    max-height:25%;
    height:auto;
    width:90%;
    border:yellow solid;
    /* max-height: 1300px; */
}

#half2-square{
    height: 300px;
    width:400px;
    border: chartreuse solid 2px;
}


.footer{
    position: relative;
    background-color: chartreuse;
    height: 4em;
    width:19em;
    border: chartreuse solid 2px;
}